html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  color: var(--blackC4);
  font-family: var(--roboto-r);
  font-size: min-max(var(--size-sm), 16);
  font-weight: 400;

  // &.no-scroll {
  //   overflow: hidden !important;
  //   height: 100dvh;
  // }
}

main {
  padding-top: clamp(64px, px2vw(64), 85px);
  min-height: 100vh;
}

// Sections
section {
  position: relative;
  @include flex-c;
}

// Section inner container
.container {
  position: relative;
  width: 100%;
  max-width: var(--max-width, 1920px);
  z-index: 1;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

// Flexboxes
.flex {
  display: flex;
}
.flex-v {
  @include flex(column);
}

.flex-h {
  @include flex(row);
}

.flex-c {
  @include flex-c;
}

.flex-n {
  display: none;
}

.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.h-between {
  justify-content: space-between;
}

.grid-center {
  @include grid-center;
}

// Images, videos, iframes
.obj-cover {
  @include obj-cover;
}

.obj-contain {
  @include obj-contain;
}

.svg-icon {
  @include svg-icon;
}

// Other elements
a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

button {
  display: inline-flex;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

.clip-logo {
  mask: url("../img/logo.svg") center/cover no-repeat;
  aspect-ratio: 107/40;
  width: min-max(70, 107);
  background-color: #054f78;
}

.icon {
  width: min-max(var(--icon), 24);
  aspect-ratio: 1;
  flex: none;
  transition: var(--transition);

  &.large {
    @include mq-min-1440 {
      width: 32px;
    }
  }

  &_close {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      mask: url("../img/close.svg") center/cover no-repeat;
      background-color: #717a8e;
      transition: background-color var(--transition);
    }

    @include on-hover {
      &::before {
        background-color: var(--orange-2);
      }
    }
  }
  &_trash {
    mask: url("../img/trash.svg") center/cover no-repeat;
    background-color: #2b3f6c;

    @include on-hover {
      background-color: var(--orange-2);
    }
  }

  &_cart {
    mask: url("../img/cart.svg") center/cover no-repeat;
    background-color: #054f78;

    @include on-hover {
      background-color: #2b3f6c;
    }
  }
  &_tell {
    mask: url("../img/call.svg") center/cover no-repeat;
    background-color: #054f78;

    @include on-hover {
      background-color: #2b3f6c;
    }
  }
  &_instagram {
    mask: url("../img/socials/instagram.svg") center/cover no-repeat;
  }
  &_facebook {
    mask: url("../img/socials/facebook.svg") center/cover no-repeat;
  }
  &_sale {
    background: url("../img/sale.svg") center/cover no-repeat;
  }
  &_play {
    width: min-max(50, 120);
    background: url("../img/play.svg") center/cover no-repeat;
  }
  &_arrow {
    --arrow: var(--orange-2);
    width: 32px;
    mask: url("../img/arrow.svg") center/cover no-repeat;
    background-color: var(--arrow);
  }
  &_arrow_s {
    --arrow: var(--orange-2);
    mask: url("../img/arrow_2.svg") center/cover no-repeat;
    background-color: var(--arrow);

    &.left {
      transform: rotateY(180deg);
    }
  }
  &_plus {
    width: 24px;
    aspect-ratio: 1;
    flex: none;
    background: url("../img/plus.svg") center/cover no-repeat;
  }
  &_minus {
    width: 24px;
    aspect-ratio: 1;
    flex: none;
    background: url("../img/minus.svg") center/cover no-repeat;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;

  .icon {
    width: 24px;
    display: flex;
    background-color: var(--white);
    @include on-hover {
      background-color: var(--orange-2);
    }
  }
}

.custom-pr-sale {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--orange-2);
  pointer-events: all;
  border-radius: min-max(8, 10);
  padding: min-max(6, 8);
  border: 1px solid var(--orange-2);
  background: var(--white);
  font-size: min-max(14, 18);

  img {
    width: min-max(20, 24);
    height: auto;
  }
}

.handle-added-msg {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px;
  z-index: 999999999999;
  justify-content: flex-end;
  display: flex;
  align-items: flex-start;
  padding: 32px min-max(16, 50);
  pointer-events: none;

  .wrapper {
    // gap: min-max(4, 6);
    margin: 0 var(--inline-def);
    align-items: flex-end;
    position: relative;

    @include mq-max-640 {
      width: 100%;
    }
  }

  .product {
    padding: 6px 16px;
    border-radius: min-max(8, 12);
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: min-max(6, 8);
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
    transform: translateY(2px);
    position: absolute;
    right: 0;
    pointer-events: all;
    box-shadow: 0px 5px 10px 0px rgba(41, 59, 80, 0.3);

    @include mq-max-640 {
      width: 100%;
      justify-content: space-between;
    }

    p {
      display: flex;
      white-space: nowrap;
      gap: 0.3em;
    }

    &.s {
      opacity: 1;
      pointer-events: all;
      transform: none;
    }

    span {
      font-family: var(--roboto-m);
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .close {
      width: min-max(18, 20);
      aspect-ratio: 1;
      flex: none;
    }
  }
}

[data-play-video] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    transition: var(--transition);
    opacity: 0;
    transform: scale(1.6);
    position: absolute;
  }

  @include mq-max-1024 {
    .icon {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include on-hover {
    .icon {
      opacity: 0.8;
      transform: scale(1);
    }
  }
}

.spinner {
  width: min-max(18, 20);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #4c5c66;
  margin-right: min-max(10, 16);
  padding: 4px;
  animation: spin 0.5s linear infinite;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);

  @include mq-max-768 {
    position: absolute;
    left: 0;
  }

  &::after {
    content: "";
    width: min-max(4, 5);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
