html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  color: var(--blackC4);
  font-family: var(--roboto-r);
  font-size: min-max(var(--size-sm), 18);
  font-weight: 400;

  // &.no-scroll {
  //   overflow: hidden !important;
  //   height: 100dvh;
  // }
}

main {
  padding-top: clamp(64px, px2vw(64), 85px);
  min-height: 100vh;
}

// Sections
section {
  position: relative;
  @include flex-c;
}

// Section inner container
.container {
  position: relative;
  width: 100%;
  max-width: var(--max-width, 1920px);
  z-index: 1;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

// Flexboxes
.flex {
  display: flex;
}
.flex-v {
  @include flex(column);
}

.flex-h {
  @include flex(row);
}

.flex-c {
  @include flex-c;
}

.flex-n {
  display: none;
}

.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.h-between {
  justify-content: space-between;
}

.grid-center {
  @include grid-center;
}

// Images, videos, iframes
.obj-cover {
  @include obj-cover;
}

.obj-contain {
  @include obj-contain;
}

.svg-icon {
  @include svg-icon;
}

// Other elements
a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

button {
  display: inline-flex;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

.clip-logo {
  mask: url("../img/logo.svg") center/cover no-repeat;
  aspect-ratio: 107/40;
  width: min-max(70, 107);
  background-color: #054f78;
}

.icon {
  width: min-max(var(--icon), 24);
  aspect-ratio: 1;
  flex: none;
  transition: var(--transition);

  &.large {
    @include mq-min-1440 {
      width: 32px;
    }
  }

  &_close {
    mask: url("../img/close.svg") center/cover no-repeat;
    background-color: #717a8e;

    @include on-hover {
      background-color: var(--orange-2);
    }
  }
  &_trash {
    mask: url("../img/trash.svg") center/cover no-repeat;
    background-color: #2b3f6c;

    @include on-hover {
      background-color: var(--orange-2);
    }
  }

  &_cart {
    mask: url("../img/cart.svg") center/cover no-repeat;
    background-color: #054f78;

    @include on-hover {
      background-color: #2b3f6c;
    }
  }
  &_tell {
    mask: url("../img/call.svg") center/cover no-repeat;
    background-color: #054f78;

    @include on-hover {
      background-color: #2b3f6c;
    }
  }
  &_instagram {
    mask: url("../img/socials/instagram.svg") center/cover no-repeat;
  }
  &_facebook {
    mask: url("../img/socials/facebook.svg") center/cover no-repeat;
  }
  &_sale {
    background: url("../img/sale.svg") center/cover no-repeat;
  }
  &_play {
    width: min-max(50, 120);
    background: url("../img/play.svg") center/cover no-repeat;
  }
  &_arrow {
    --arrow: var(--orange-2);
    width: 32px;
    mask: url("../img/arrow.svg") center/cover no-repeat;
    background-color: var(--arrow);
  }
  &_arrow_s {
    --arrow: var(--orange-2);
    mask: url("../img/arrow_2.svg") center/cover no-repeat;
    background-color: var(--arrow);

    &.left {
      transform: rotateY(180deg);
    }
  }
  &_plus {
    width: 24px;
    aspect-ratio: 1;
    flex: none;
    background: url("../img/plus.svg") center/cover no-repeat;
  }
  &_minus {
    width: 24px;
    aspect-ratio: 1;
    flex: none;
    background: url("../img/minus.svg") center/cover no-repeat;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 24px;

  .icon {
    width: 32px;
    display: flex;
    background-color: var(--white);
    @include on-hover {
      background-color: var(--orange-2);
    }
  }
}


.custom-pr-sale {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--orange-2);
  pointer-events: all;
  border-radius: min-max(8, 10);
  padding: min-max(6, 8);
  border: 1px solid var(--orange-2);
  background: var(--white);
  font-size: min-max(14, 18);

  img {
    width: min-max(20, 24);
    height: auto;
  }
}