@import "variables";
@import "fonts";
@import "general";
@import "cart";
@import "popups";

#wpadminbar {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

body.logged-in.admin-bar{
  padding: 0 !important;
}