.pop-up {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition:
    opacity var(--transition),
    transform var(--transition);
  z-index: 1000;

  .back-close {
    position: absolute;
    inset: 0;
    background-color: #252424a8;
    // background-color: #ffffffb3;
    // backdrop-filter: blur(5px);
  }

  .overflow {
    @include no-scrollbar;
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .popup-content {
    position: relative;
    display: flex;
    border-radius: min-max(16, 24);
    height: 88vh;
  }

  .close {
    position: absolute;
    width: min-max(28, 32);
    aspect-ratio: 1;
    top: min-max(16, 30);
    right: min-max(16, 30);
    z-index: 1;

    border-radius: 50%;
    background-color: white;

    &::before {
      inset: min-max(4, 6);
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: none;
  }

  &.full-img {
    .popup-content {
      width: 100%;
      max-width: min-max(900, 1080);
      background: white;

      .pop-up-img {
        display: flex;
        position: relative;

        &.with-video {
          .item-play {
            display: flex;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        border-radius: min-max(16, 24);
      }
    }

    .item-play {
      position: absolute;
      inset: 0;
      display: none;

      .icon {
        opacity: 0.8;
        transform: scale(0.8);
        pointer-events: none;
      }

      @include on-hover {
        .icon {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }

  &.full-video {
    .popup-content {
      width: 100%;
      max-width: min-max(900, 1300);
      overflow: hidden;

      @include mq-min-768 {
        height: auto;
      }

      video {
        width: 100%;
        height: auto;
        max-height: 90vh;
      }
    }
  }

  .pop-up-video {
    display: flex;
    width: 100%;
  }

  .material-params-wrapper {
    position: absolute;
    z-index: 1;
    left: min-max(16, 24);
    top: min-max(16, 24);
    max-width: 80%;
    flex-wrap: wrap;

    .param {
      border-radius: 50%;
      background: var(--white);
    }
  }

  @include mq-max-768 {
    .back-close {
      background: transparent;
    }

    .overflow {
      padding: 16px;
      height: 100%;
      background: var(--white);
      align-items: center;
    }

    .popup-content {
      padding: 0;
      height: 100%;
      border-radius: 12px;
      overflow: hidden;

      .icon_play {
        width: 100px;
      }
    }

    .pop-up-video {
      align-items: center;
    }
  }
}

.popup-message {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: min-max(16, 50);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition);

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .bg {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px min-max(24, 50);
    border-radius: min-max(12, 16);
    background: var(--white);
    gap: min-max(12, 16);
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 20px 0px #293b501a;
    max-width: min-max(500, 550);
    width: 100%;
  }

  .cta {
    padding: min-max(12, 16) min-max(24, 32);
    background-color: #195576;
    border-radius: 100px;
    transition: var(--transition);
    color: var(--white);
    margin-top: min-max(12, 24);
    justify-content: center;
    min-width: min-max(150, 200);

    @include on-hover {
      background-color: #2b3f6c;
    }
  }

  .close {
    position: absolute;
    top: min-max(16, 24);
    right: min-max(16, 24);
    width: 24px;
    aspect-ratio: 1;
    mask: url("../img/close.svg") center/cover no-repeat;
    background-color: #717a8e;
    transition: var(--transition);

    @include on-hover {
      background-color: var(--orange-2);
    }
  }
}
