:root {
  // Colors
  --white: #fff;
  --dark: #030409;

  // Effects
  --transition: 0.3s ease;
  // --transition-medium: 0.45s ease-in-out;
  // --transition-slow: 0.9s cubic-bezier(0.25, 1, 0.5, 1);

  // Fonts
  // --fixel-bold: "FixelBold";
  // --fixel-semibold: "FixelSemiBold";
  // --fixel-medium: "FixelMedium";
  // --fixel-regular: "FixelRegular";

  // Layout
  --max-width: 1920px;
}
