.footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer);
  color: var(--white);

  .container {
    position: relative;
    padding: 50px 16px;
    gap: min-max(24, 75);

    @include mq-max-768 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  a {
    @include on-hover {
      color: var(--orange-2);
    }
  }

  .tells {
    color: var(--orange-1);
    gap: 16px;
  }

  .socials {
    @include mq-min-768 {
      position: absolute;
      right: min-max(16, 50);
      bottom: 50px;
    }
  }

  &-navs {
    gap: 24px;
  }
}
