.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  right: 0;
  background-color: var(--white);
  display: flex;
  justify-content: center;

  a {
    font-size: min-max(14, 15);
    font-family: var(--roboto-m);
  }

  .container {
    height: clamp(64px, px2vw(64), 85px);
    padding: 0 min-max(16, 50);
    gap: min-max(18, 30);
    justify-content: space-between;
  }

  &-burger {
    margin-left: min-max(16, 50);

    @include mq-min-1024 {
      display: none;
    }

    span {
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: #054f78;
      margin: 2px;
      transition: var(--transition);
      position: relative;

      &:nth-of-type(2) {
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 8px;
          border-radius: 10px;
          background-color: #054f78;
        }
      }
    }

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &:has(input:checked) {
      span {
        opacity: 0;

        &:nth-of-type(2) {
          opacity: 1;
          transform: rotate(45deg);

          &::after {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &-right {
    gap: min-max(16, 40);
  }

  &-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        padding: 0 min-max(4, 14);
        text-align: center;

        &.special {
          padding: 0;

          a {
            padding: 7px min-max(10, 16);
            background: var(--orange-2);
            border-radius: 18px;
            color: var(--white);
            white-space: nowrap;

            &:hover {
              background: var(--orange-1);
            }
          }
        }
      }

      a {
        font-size: min-max(14, 15);
        transition: var(--transition);
        color: #054f78;

        @include on-hover {
          color: var(--orange-1);
        }

        &[aria-current] {
          color: var(--orange-1);
          pointer-events: none;
        }
      }
    }

    @include mq-max-1024 {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 100%;
      padding: 0 min-max(16, 50);
      justify-content: center;
      height: calc(100dvh - 100%);
      background: var(--white);
      opacity: 0;
      pointer-events: none;
      transition: var(--transition);

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        a {
          font-size: 14px;
        }
      }
    }
  }

  &-tell {
    .icon {
      display: none;
    }

    .txt {
      font-size: 14px;
      letter-spacing: -0.2px;
      line-height: 0;
    }

    color: var(--orange-1);

    @include on-hover {
      color: var(--orange-2);
    }
  }

  &-count {
    color: var(--white);
    height: 23px;
    min-width: 23px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 3px;
    background: var(--orange-1);
    align-self: center;
    border-radius: 50%;
    margin-left: min-max(2,4);
    font-family: var(--roboto-m);
    font-weight: 500;
  }
  &-bag {

    .icon_cart {
      top: auto;
    }
  }

  @include mq-max-1024 {
    &:has(.burger input:checked) {
      .burger {
        span {
          opacity: 0;

          &:nth-of-type(2) {
            opacity: 1;
            transform: rotate(45deg);

            &::after {
              transform: rotate(-90deg);
            }
          }
        }
      }

      .header-menu {
        opacity: 1;
        pointer-events: all;
      }
    }

    .header-tell {
      .icon {
        display: flex;
      }

      .txt {
        display: none;
      }
    }
  }

  @include mq-max-768 {
    &-tell {
      .icon {
        display: flex;
      }

      .txt {
        display: none;
      }
    }
  }
}
