@import "common";
@import "./global/components/form";

.feedback {
  padding: 60px min-max(16, 50);

  @include mq-max-1024 {
    padding: min-max(20, 40) min-max(16, 50);
  }

  .container {
    max-width: 1170px;
  }

  .container {
    gap: min-max(24, 100);

    @include mq-max-1024 {
      flex-direction: column;
    }
  }

  &-form {
    max-width: 600px;
    width: 100%;

    @include mq-max-1024 {
      max-width: unset;
    }
  }

  .text-content {
    .content {
      margin-top: min-max(26, 40);

      &>* {
        margin: 1em 0;

        &:first-child {
          margin-top: 0;
        }
      }

      ul,
      ol {
        padding-left: 1.5em;

        li {
          line-height: 140%;
          color: #054f78;
        }
      }

      a {
        color: var(--orange-2);
      }
    }
  }


}