@import "common";
@import "./sections/builder";


.single-page {
  padding: 60px min-max(16, 50);

  .container {
    max-width: 800px;
  }
  .content {
    margin-top: 3em;

    & > * {
      margin: 1em 0;
    }
    ul,
    ol {
      padding-left: 1.5em;

      li {
        line-height: 140%;
        color: #054f78;
      }
    }
    p {
      color: #054f78;
    }
    a {
      color: var(--orange-2);
    }
  }
}